<!-- File: productPage.html
     Programmers: Madison Lucas
     This is the html template for the product page of the online store. -->
<html>
    <head>
        <title>Buyer View</title>
                <h1> View The Product!</h1>
                <link rel="stylesheet" href="../static/index.css">
    </head> 
	<body>
            <table id="product">
                {% for product in template_data['product'] %}
                    <tr>
                        <td>Title</td>
                        <td>{{product[3]}}</td>
                    </tr>
                    <tr>
                        <td>ASIN</td>
                        <td>{{product[1]}}</td>
                    </tr>
                    <tr>
                        <td>Group</td>
                        <td>{{product[4]}}</td>
                    </tr>
                    <tr>
                        <td>salesrank</td>
                        <td>{{product[5]}}</td>
                    </tr>
                    <tr>
                        <td>Average Rating</td>
                        <td>{{product[6]}}</td>
                    </tr>
                    <tr>
                        <td>Total Reviews</td>
                        <td>{{product[7]}}</td>
                    </tr>
                    <tr>
                        <td>Descriptive Keywords</td>
                        <td>{{product[9]}}</td>
                    </tr>
                {% endfor %}
            </table>
            <form action="goToResultsPageOverflowForward" method="post">
                <button name="index" value="{{index}}">Go Back To Search Results</button>
            </form>

            <!-- This form will trigger the method in run_app.py that will render the landing page. -->
            <form action="landingPage" method="post">
                <button name="goToLanding" value="goLand">Go Back to Search Bar</button>
            </form>
        </div>
	</body>
</html>
    
