<!-- File: resultsPage.html
     Programmers: Madison Lucas
     This is the html template for the results page of the online store. -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/index.css">
    <title>Results</title>
  </head>

  <body>
    <table>
      <td>
        <form action = "sortByRelevance" method="post">
          <button name = "originalOrder">Relavance</button>
        </form>
      </td>
      <td>
        <form action = "sortByTitle" method="post">
          <button name = "sortByTitle">Title</button>
        </form>
      </td>
      <td>
        <form action = "sortAverageRating" method="post">
          <button name = "sortByRating">Average Rating</button>
        </form>
      <td>
        <form action = "sortByNumReviews" method="post">
          <button name = "sortByReviews">Number of Reviews</button>
        </form>
      </td>
      <td>  
        <form action = "sortBySalesRank" method="post">
          <button name = "sortBySales">Sales Rank</button>
        </form>
      </td>
    </table>

    <form action="goToProductPage" method ="post">
      <p> Here are the results of your search:</p>
      <table id="results">
        <tr>
          <th>Title</th>
          <th>Group</th>
          <th>Average Rating</th>
          <th>Total Reviews</th>
          <th>Sales Rank</th>
          <th>View Product</th>
        </tr>
        {% for result in template_data['results'] %}
          <tr>
            <td>{{result[3]}}</td>
            <td>{{result[4]}}</td>
            <td>{{result[6]}}</td>
            <td>{{result[7]}}</td>
            <td>{{result[5]}}</td>
            <td><button name="seeProductPage" value="{{result[0]}} {{index}}">View This Product</button></td>
          </tr>  
        {% endfor %}
      </table>
    </form>

    <table id="specialTable">
        {% if index.startswith("0") == False %}
          <td>
            <form action = "goToResultsPageOverflowBackward" method="post">
              <button name = "index" value="{{index}}">Back</button>
            </form>
          </td>
        {% endif %}
        {% if template_data['results']|length == 5 %}
          <td>
            <form action = "goToResultsPageOverflowForward" method="post">
              <button name = "index" value="{{index}}">More Results</button>
            </form>
         </td>
        {% endif %}
    </table>

    <form action="landingPage" method="post">
        <button name="goToLanding" value="goLand">Return to Search Bar</button>
    </form>

   </body>
</html>
